body {
    min-width: 1200px;

}

.header {
    background-image: url("../img/header-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.header-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(94, 93, 88, 0.6);
    height: 100px;
}

.header-container {
    display: flex;
    align-items: center;
    margin-right: 305px;
}

.header-menu-item {
    margin-right: 21px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 25px;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    height: calc(50% + 16px);
    box-sizing: border-box;
}
.header-menu-item:hover{
    color: #18CFAB;
}


.header-menu {
    display: flex;
    align-items: flex-end;
    height: 100%;
}

.header-title {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 48px;
    color: #FFFFFF;
    margin-left: 6px;
}

.header-span {
    color: #18CFAB;
}

.header-logo-span {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 31px;
    color: #FFFFFF;
    position: relative; /* Абсолютное позиционирование */
    left: 45px;

}

.header-menu-item:hover {
    border-bottom: 2px solid #18CFAB;
    transition: none
}

.aside-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.aside-wrapper-button {
    display: flex;
    justify-content: center;
    align-items: center;

}

.btn-container {
    height: 31px;
    width: 134px;
}

.aside-wrapper-button {
    margin-top: 150px;
}

.aside-wrapper-button {
    height: 62px;
    width: 264px;
}


.aside-wrapper {
    margin-top: 264px;
}

.aside-title-1 {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    line-height: 1px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
}

.aside-title-span {
    color: #18CFAB;
    margin-left: 15px;
}

.aside-title-2 {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 78px;
    line-height: 1px;
    color: #FFFFFF;
    margin-top: 88px;
    margin-bottom: 88px;

}

.aside-p {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 34px;
    line-height: 1px;
    color: #D4D4D4;

}


.btn-container-2 {
    background-color: #00CBF6;
    border-radius: 3px;
    border-style: none;
    width: 169px;
    height: 60px;
}

.option-container {
    width: 482px;
    height: 377px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.option-container1,
.option-container3 {
    background-color: #1C2A33;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: #18CFAB;

}

.option-container2,
.option-container4 {
    background-color: #18CFAB;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
}

.option {
    display: flex;
    justify-content: center;
    margin-top: 8px;
}

.option-container2 p,
.option-container4 p {
    margin-top: 58px;
}

.option-container1 p,
.option-container3 p {
    margin-top: 48px;
}

.stick1,
.stick2 {
    background-color: #18CFAB;
    height: 1px;
    margin-top: 3px;
}

.midle-stick {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.stick1 {
    margin-right: 26px;
    width: 76px;
}

.stick2 {
    width: 78px;
    height: 1px;
}

.main-services-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 40px;
    color: #4E4E4E;
    margin-bottom: 20px;
    margin-top: 83px;
}

.main-services-btn {
    width: 195px;
    height: 76px;
    border-style: none;
    background-color: #F8FCFE;
    box-sizing: border-box;

}

.btn-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 69px;

}

.main-services-btn:hover {
    border: 2px solid #18CFAB;
    cursor: pointer;
}


.element {
    border: 15px solid transparent;
    border-top: 15px solid #18CFAB;
    position: relative;
    right: 115px;
    top: 50px;
    left: 110px;
}

.main-services-info {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-info-p {
    width: 952px;
    height: 136px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    color: #777777;
    margin-top: 23px;
}

.main-info-img {
    width: 195px;
    height: 136px;
    margin-right: 15px;
    margin-left: 25px;
    margin-top: 23px;
}

.buy-container {
    background-image: url("../img/bg-instal.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 476px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
}

.buy-container-title {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 40px;
    color: #18CFAB;
    margin-top: 236px;
}

.buy-container-p {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 40px;
    color: #D8D8D8;
    margin-top: 13px;
}

.buy-container button {
    background-color: #18CFAB;
    border-radius: 3px;
    border-style: none;
    width: 169px;
    height: 60px;
    margin-top: 67px;
    margin-bottom: 127px;
    position: relative;
    bottom: 125px;
    cursor: pointer;
}

.btn-wrapper-white {
    background-color: white;
    height: 63px;
    border-radius: 3px;
}

.btn-wrapper {
    margin-top: 62px;
}

.main-services-btn {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 39px;

    color: #717171;

}

.main-services-btn1 {
    background-color: #18CFAB;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 39px;
    color: #FFFFFF;
}


.btn-container-1 {
    background-color: #18CFAB;
    border-radius: 3px;
    border-style: none;
    height: 64px;
    margin-right: 29px;
}

.btn-wrapper {
    cursor: pointer;
}

.buy-p {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 32px;
    color: #FFFFFF;
}

.aside-wrapper-btn1 {
    width: 169px;
    height: 64px;
    background-color: #18CFAB;
    border-style: none;
    cursor: pointer;
    border-radius: 3px;
    position: relative;
    right: 169px;
    top: 5px;

}

.buyout-btn {
    display: flex;
    margin-top: 129px;
    margin-bottom: 259px;
    margin-left: 200px;
}

.aside-wrapper-bg1 {
    width: 169px;
    height: 63px;
    background-color: white;
    border-radius: 3px;
}
.header-menu-img{
    cursor: pointer;
    margin-bottom: 5px;
}
.aside-wrapper-btn1 span {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 32px;
    color: #FFFFFF;
}

.aside-wrapper-btn2 {
    background-color: #00CBF6;
    width: 169px;
    height: 64px;
    border-style: none;
    cursor: pointer;
    border-radius: 3px;
    position: relative;
    right: 169px;
    top: 5px;
}

.aside-wrapper-bg2 {
    background-color: white;
    height: 63px;
    width: 169px;
    cursor: pointer;
    border-radius: 3px;
}

.aside-wrapper-btn2 span {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 32px;
    color: #FFFFFF;
}

.swap-menu {
    display: flex;
    justify-content: center;
    height: 58px;
    margin-bottom: 71px;
    align-items: center;


}

.btn-swap-menu {
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #DADADA;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 42px;
    cursor: pointer;
    color: #717171;
    padding: 8px 15px;

}
.btn-swap-menu:hover{
    border: 2px solid #18CFAB;
    color: #18CFAB;
}

.section-amazing-work-title {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 40px;
    color: #4E4E4E;
}

.amazing-title-box {
    display: flex;
    justify-content: center;
}

.midle-stick1 {
    margin-top: 20px;
    margin-bottom: 69px;
}

.btn-swap-menu1 {
    border: 2px solid #18CFAB;
    color: #18CFAB;
    width: 59px;
}

.creative-design-btn1 {
    border: 1px solid #18CFAB;
    border-radius: 30px;
    width: 41px;
    height: 40px;
    background-color: #E9EDEF;
    cursor: pointer;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../img/link.png");
}
.creative-design-btn1:hover{
    background-color: white;

}

.link {

    cursor: pointer;
}

.cube {
    width: 12px;
    height: 11px;
    background-color: black;

    cursor: pointer;
}

.creative-design-btn2 {
    border: 1px solid #18CFAB;
    border-radius: 30px;
    width: 41px;
    height: 40px;
    background-color: #E9EDEF;
    cursor: pointer;
    background-repeat: no-repeat;
    background-image: url("../img/cube.png");
    background-position: center;
}

.creative-design-btn2:hover {
    background-color: #18CFAB;

}

.creative-design-h {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 25px;

    color: #18CFAB;

}

.creative-design-span {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 25px;
    color: #8A8A8A;

}

.design-img {
    width: 285px;
    height: 211px;
}

.creative-design-box {
    width: 285px;
    height: 211px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-top: 3px solid #18CFAB;

}

.btn-design {
    margin-bottom: 36px;
}

.our-design {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.our-design-content1 {
    display: flex;
    flex-direction: row;
    margin-bottom: -3px;
}

.our-design-content2 {
    display: flex;
    flex-direction: row;
    margin-bottom: 0;
}

.our-design-content3 {
    display: flex;
    flex-direction: row;
    margin: 0;
}

.section-amazing-work {
    background-color: #E9EDEF;
    padding-top: 95px;
}

.amazing-bg {
    background-color: #E9EDEF;
    height: 95px;
    width: 100%;
}

.load-btn-span {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 42px;
    color: #FFFFFF;
}

.load-btn {
    border-style: none;
    background-color: #18CFAB;
    width: 168px;
    height: 63px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 30px;
    cursor: pointer;

}

.load-btn-container {
    margin-top: 70px;
    margin-bottom: 99px;
}

.load-btn-item {
    position: relative;
    top: 44px;
    left: 20px;
    width: 18px;
    height: 19px;
}

.news-wrapper-container {
    background-color: #203E38;
    width: 70px;
    height: 68px;
    position: absolute;
    margin-left: 193px;
    margin-bottom: 212px;


}

.news-wrapper-container span {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.breaking-news-wrapper-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 263px;
    height: 100%;
}

.breaking-news-img {
    width: 263px;
    height: 208px;
    cursor: pointer;

}

.news-wrapper-span {
    margin-top: 10px;
}

.news-wrapper-span-comment {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 39px;
    color: #777777;

}

.stick-box {
    margin-left: 6px;
    margin-right: 6px;
}

.news-wrapper-container-title {
    margin-top: 4px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 39px;
    color: #717171;
    margin-left: 6px;

}


.breaking-news-wrapper-container:hover .news-wrapper-container-title {
    color: #18CFAB;
    cursor: pointer;
}


.breaking-news-wrapper-container:hover .news-wrapper-container {
    background-color: #18CFAB;
    cursor: pointer;

}

.breaking-news-wrapper-container:hover .breaking-news-img {
    filter: saturate(1.5);
}


.news-wrapper-container-box {
    margin-top: -10px;
}

.news-wrapper-container-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-right: 35px;

}

.breaking-news-wrapper-container:hover .news-wrapper-container-box {
    cursor: default;
    margin-right: 25px;
}

.first-4-post {
    display: flex;
    justify-content: center;
    align-items: center;
}

.news-wrapper-container-post1 {
    margin-bottom: 44px;
    margin-top: 69px;
}

.news-wrapper-container-post2 {
    margin-bottom: 129px;
}

.breaking-news-wrapper-title h2 {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 40px;
    color: #4E4E4E;
    margin-top: 82px;
    margin-bottom: 24px;
}

.breaking-news-wrapper-title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.midle-stick2 {
    margin-left: 15px;
}

.gallery-wrapper {
    display: flex;
    justify-content: center;
}

.gallery-wrapper-container1 {
    display: flex;
    flex-direction: column;

}

.gallery-wrapper-container-img {
    padding-bottom: 20px;
    padding-right: 19px;
}

.gallery-img7 {
    margin-top: 16px;
}

.gallery-wrapper-btn {
    background-color: #14B9D5;
    border-style: none;
    height: 25px;
    width: 27px;
}

.gallery-wrapper-image-opacity {
    position: absolute;
    width: 181px;
    height: 168px;
}

.gallery-container {
    display: flex;
    flex-direction: row;

}

.gallery-wrapper-image {
    margin-bottom: 3px;
    margin-right: 5px;
}

.gallery-container-box {

}

.gallery-wrapper-image2 {
    position: relative;
    background-color: rgba(0, 0, 0, 0.64);
    width: 181px;
    height: 168px;
}

.gallery-wrapper-btn1 {
    margin-top: 67px;
    margin-left: 207px;
    position: absolute;
    background-image: url("../img/search.png");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    cursor: pointer;

}

.gallery-wrapper-btn2 {
    margin-top: 67px;
    margin-left: 247px;
    position: absolute;
    background-image: url("../img/zoom.png");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    cursor: pointer;
}

.gallery-wrapper-arrow {
    position: relative;
    right: 80px;
    top: 53px;
}

.load-btn1 {
    border-style: none;
    background-color: #18CFAB;
    width: 168px;
    height: 63px;
    align-items: center;
    cursor: pointer;
    justify-content: center;
    display: flex;


}

.load-btn-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 67px;
    margin-top: 52px;
}

.load-btn-element {
    margin-right: 15px
}

.footer {
    background-color: #22353F;
    height: 121px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer p {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 26px;

    color: #AEAEAE;

}

.footer span {
    color: #18CFAB;

}

.gallery-wrapper-title {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 40px;
    color: #4E4E4E;
    margin-bottom: 24px;

}

.gallery-wrapper-head {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 72px;
}

.stick3 {
    width: 65px;
    margin-left: 11px;
}

.creative-design-box4 {
    display: none;
}

.creative-design-check4:hover .design-img4 {
    display: none;


}

.creative-design-check4:hover .creative-design-box4 {
    display: flex;
    width: 285px;
    height: 211px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 3px solid #18CFAB;
}
.creative-design-check4{
    width: 285px;
    height: 211px;
}
.Back-to-top{
    width: 25px;
    border:2px solid #ccc;
    text-align:center;
    padding:10px;
    position:fixed;
    bottom:50px;
    right:30px;
    cursor:pointer;
    color:#333;
    font-size:12px;
    border-radius: 5px;
    background-image: url("../img/scroll-top.png");
    background-position: center;
    background-repeat: no-repeat;
    background-color: red;
}